body { 
    margin: 0;
    padding: 0;
}
.tit__img {
    display: inline-block;
    width: 240px;
    align-items: center;  
}
.header {
    /* background-color: gold; */
    background: linear-gradient(to top, #F6EFD2, #CEAD78); 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    margin: 0;
    padding: 0;
    color: maroon;
    font-kerning: normal;
    font-family: "Autor";
    font-weight: 100;
    font-style: initial;
    font-size: 300%;
}
.searchh {
    display: inline-block;
    height: 40px;
    justify-content: flex-end;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}