body{
    margin: 0%;
    padding: 0%;
}
.h1, h2, h3, h4, h5{
    margin: 0%;
    padding: 0%;
    text-decoration: none;  
    color: antiquewhite; 
}
.tit__img{
    display: inline-block;
    width: 240px;
    align-items: center;  
}
.heder1{
    background-color: black;
    margin: 0%;
    padding: 0%;   
    width: 100%;
    height: 74px;
    align-items: flex-start;
    justify-content: stretch;
}