body {
    margin: 0;
    padding: 0;
}

.header {
    border: 1px solid maroon;
    margin: 0;
    padding: 0 5vw;
    height: 74px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: ghostwhite;
    color: ghostwhite;
}

.header-logo-wrap {
    display: flex;
    background-color: ghostwhite;

}

.logo {
    margin: 0;
    padding: 0;
    color: maroon;
    font-kerning: normal;
    font-family: "Autor";
    font-weight: 100;
    font-style: initial;
    font-size: 300%;
    text-align: left;
    padding-left: 30px;
}

.search-wrap {
    display: flex;
    border: 1px solid black;
    width: 500px;
}

.search {
    flex-grow: 1;
    height: 40px;
    justify-content: flex-end;
    border: none;
    padding-left: .5rem;
}

.exchange-rates,
.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.exchange-rates__item__ua,
.exchange-rates__item__us,
.exchange-rates__item__eu {
    width: 100px;
    height: 20px;
    padding: 0rem 1rem;
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.exchange-rates__item__ua {
    background-image: url(img/ua.png);

}

.exchange-rates__item__us {
    background-image: url(img/us.png);
    margin-left: 2rem;
}

.exchange-rates__item__eu {
    background-image: url(img/eu.png);
    margin-left: 2rem;
}

.exchange-rates__link {
    color: black;
    text-decoration: none;
}

.exchange-rates__item__ua:hover,
.exchange-rates__item__us:hover,
.exchange-rates__item__eu:hover {
    border: 1px solid grey;
    cursor: pointer;
}

.seek1,
.seek2 {
    border: none;
    font-family: "Autor";
    font-size: 100%;
}

.seek2 {
    background-color: goldenrod;
    cursor: pointer;
    width: 75px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
}

.navigation {
    border: none;
    font-family: "Times New Roman";
    font-size: 100%;
}

.header-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 400px;
    height: 75px;
}

.exchange-rates-wrap {
    padding: 1px;
}

.contant-main {
    height: calc(100vh - 100px) ;
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: row;
}

.aside-main, .contant {
    background-color: rgb(186, 207, 177);
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    height: 750px;
}

.aside-main {
    width: 300px;
}

.contant {
    width: 100%;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pic {
    width: 200px;
    height: 175px;
    border: 1px solid black;
    margin: 20px 20px;
}

.pic-img {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    position: fixed;
    bottom: 0;
    flex-shrink: 0;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footer-item {
    color: maroon;
    flex-wrap: wrap;
    font-style: unset;
    align-items: flex-end;
}

.selectQuantityPict {
    height: 50px;
    margin: 20px;
}