body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 74px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 240px;
    transform: skewY(20deg);
}
.header-logo2 {
    color: white;
}
.header-dot {
    color: #E50D7C;
}